.roadmap-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5em;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.roadmap-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.78em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.h2-hollow {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Lemonmilk, sans-serif;
    color: #f2f2f2;
    font-size: 2.31em;
    line-height: 1.3555555555555556;
}
.roadmap-content-block {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5em;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.roadmap-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.roadmap-sticky-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.number-tracker {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.changing-numbers-block {
    position: relative;
    width: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.changing-numbers {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    font-family: Lemonmilk, sans-serif;
    color: #ffffff;
    font-size: 1.32em;
    font-weight: 500;
}
.number-total {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: Lemonmilk, sans-serif;
    color: #ffffff;
    font-size: 1.32em;
    font-weight: 500;
}
.number-total.total {
    opacity: 1;
}
.number-total.total {
    opacity: 1;
}
.banana-bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1.79em;
    margin-left: 1.06em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.end-points {
    width: 1.65em;
    height: 1.65em;
    border-radius: 100%;
    background-color: #ffffff;
}
.bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 0.2em;
    height: 22em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(41%, hsla(0, 0%, 51%, 0.67)), to(hsla(0, 0%, 100%, 0.38)));
    background-image: linear-gradient(180deg, #ffffff, hsla(0, 0%, 53%, 0.67) 41%, hsla(0, 0%, 100%, 0.38));
}
.banana-scroll {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 2.98em;
    height: 0px;
    margin-top: -0.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.div-block-7 {
    width: 1px;
    height: 1px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.banana-image {
    width: 2.98em;
    -webkit-transform: rotate(31.69deg);
    -ms-transform: rotate(31.69deg);
    transform: rotate(31.69deg);
}
.end-points {
    width: 1.65em;
    height: 1.65em;
    border-radius: 100%;
    background-color: #ffffff;
}
.h3-roadmap {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Lemonmilk, sans-serif;
    color: #ffffff;
    font-size: 2.51em;
    line-height: 1.3421052631578947;
}
.h3-roadmap.absolute {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}
.rodmap-paragraphs-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 45.9em;
    margin-left: 6.3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.roadmap-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 12em;
    margin-top: 1.97em;
    margin-bottom: 2.97em;
    -webkit-box-pack: center;
    /* -webkit-justify-content: center; */
    -ms-flex-pack: center;
    /* justify-content: center; */
    /* -webkit-box-align: center; */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.paragraph {
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 1.46em;
    line-height: 1.1818181818181819;
    text-align: justify;
}
.section {
    position: relative;
    z-index: 1;
    background-color: #28284e;
}
.roadmap_heading{
    color:#f49b1d;
    font-weight: bold;
}
@media screen and (max-width: 991px) {
    .container.roadmap-container {
        padding-top: 5em;
        padding-right: 4em;
        padding-left: 4em;
    }
    .roadmap-content-block {
        margin-top: 5em;
    }
    .roadmap-content {
        height: 40em;
        margin-top: 0em;
    }
    .paragraph {
        font-size: 1.46em;
    }
}
@media screen and (max-width: 767px) {
    .roadmap-container {
        padding-left: 1.5em;
    }
    .roadmap-block {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .banana-bar {
        margin-right: 1em;
        margin-left: 1em;
    }
    .rodmap-paragraphs-block {
        margin-left: 3em;
    }
    .roadmap-content {
        height: 40em;
    }
    .paragraph {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 479px) {
    .roadmap-container {
        padding-top: 5em;
        padding-right: 2em;
    }
    .h2-hollow {
        font-size: 2.3em;
    }

    .h2-hollow.hollow {
        font-size: 1.8em;
    }

    .h2-hollow.bit-smaller {
        font-size: 2.5em;
    }
    .roadmap-content-block {
        margin-top: 2em;
    }
    .roadmap-sticky {
        height: 45em;
    }
    .number-tracker {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .changing-numbers-block {
        height: 2em;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .changing-numbers {
        font-size: 1.2em;
    }
    .number-total.total {
        font-size: 1.2em;
    }
    .banana-bar {
        margin-right: 0.5em;
        margin-left: 0.5em;
    }
    .h3-roadmap {
        font-size: 1.5em;
    }
    .h3-roadmap.absolute {
        font-size: 1.2em;
    }
    .rodmap-paragraphs-block {
        margin-left: 0.5em;
    }
    .roadmap-content {
        height: 20em;
    }
}

